.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 359px;
}

.avatar {
  width: 173px;
  height: 173px;
  margin-bottom: 34px;
}

.select {
  border-radius: 10px;
  height: 44px;
  width: 359px;
  margin-bottom: 47px;
  color: #868686;
  font-size: 10px;
}

.select :global .Mui-focused {
  outline: 1px solid #4158F6;
}

.select :global .MuiSelect-select {
  padding: 0 0 0 12px;
  display: flex;
  align-items: center;
  border: none
}

.select :global .MuiSvgIcon-root {
  color: #4158F6;
}

.select::before {
  border-bottom: none;
}